/*  */
@media only screen and (max-width: 992px) {
  .main__faq-details {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 400px) {
  .question-faq h3 {
    font-size: 1.4rem;
  }
  .answer-faq p {
    font-size: 1.4rem;
  }
  .gallery__img-item {
    height: 82vh;
  }
  .gallery__image-store img {
    height: 82vh;
  }
}
