/* :default css for contact page */
.col {
  width: 80vw;
  margin: auto;
}
.contact-us__container {
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
  margin-top: 60px;
  margin-bottom: 60px;
  color: var(--text-color1);
}
.contact-us__container h2 {
  word-spacing: 0.8rem;
  letter-spacing: 0.4rem;
  margin-bottom: 30px;
  color: var(--text-color);
}
/* header image */
.header__img-content button {
  padding: 10px;
  color: #fff;
  font-family: inherit;
  background-color: var(--third-color);
  font-size: 2rem;
  border-radius: 3rem;
  width: 180px;
  font-weight: 500;
  margin: auto;
}
.header__img-item {
  box-sizing: border-box;
}
.header__img-content button:hover {
  background-color: var(--second-color);
}
/* map */
#map {
  width: 100%;
  height: 400px;
}
iframe {
  width: 100%;
  height: 450px;
}
/* content */
.contact-us__content {
  display: flex;
  margin-top: 60px;
}
.contact-us__content h3:after {
  background: url(https://i.im.ge/2021/07/03/ut6FF.png) no-repeat bottom center;
  content: "";
  position: absolute;
  width: 136px;
  height: 36px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.contact-us__content h3 {
  position: relative;
  font-size: 2rem;
  word-spacing: 0.8rem;
  letter-spacing: 0.4rem;
  padding-bottom: 50px;
  margin-bottom: 40px;
  display: table;
  color: var(--text-color);
}
.contact-us__content h4 {
  word-spacing: 0.6rem;
  letter-spacing: 0.3rem;
  color: var(--text-color);
}
.contact-us__mail-to {
  text-decoration: none;
  color: var(--text-color1);
}
.contact-us__mail-to:hover {
  color: #808080;
}
.contact-us__details {
  flex: 1 1 50%;
}
.contact-us__send-message {
  flex: 1 1 50%;
}
.contact-us__details-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact-us__details .fas,
.contact-us__details .fab,
.contact-us__details .far {
  font-size: 4rem;
  color: #808080;
  width: 40px;
  height: 40px;
}
.contact-us__details-list__item-info {
  margin-left: 20px;
  font-size: 1.5rem;
}
.contact-us__details-list__item-info p a:nth-child(1) {
  color: var(--text-color1);
}
.contact-us__details-list__item-info p a:nth-child(1):hover {
  color: #808080;
}
/* form css */
.contact-us__container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-us__container form input {
  padding: 10px;
  border: 1px solid #ddd;
  width: calc(100% / 2 - 10px);
  border-radius: 5px;
  font-family: inherit;
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
  color: var(--text-color1);
  margin-bottom: 20px;
}
.contact-us__container form input:focus {
  outline: none;
}
.contact-us__container textarea {
  padding: 10px;
  resize: vertical;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: inherit;
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
  color: var(--text-color1);
  margin-bottom: 20px;
}
.contact-us__container textarea:focus {
  outline: none;
}
.contact-us__container form button,
.contact-us__details-list-button {
  background-color: var(--third-color);
  padding: 10px;
  border-radius: 50px;
  width: calc(100% / 2 - 30px);
  font-size: 1.8rem;
  color: #fff;
  font-family: inherit;
  border: 2px solid #fff;
  margin: auto;
}
.contact-us__container form button:hover,
.contact-us__details-list-button:hover {
  background-color: #fff;
  color: var(--text-color1);
  border: 2px solid var(--third-color);
  transition: 0.5s;
}

/* branch contact */
/* setting branch contact css */
.morelocation__container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.morelocation__container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.morelocation__container a {
  color: inherit;
}
/* right map */
.morelocation__container iframe {
  height: 100%;
}
/* left content */
.morelocation__wrapcontent {
  display: flex;
  justify-content: space-between;
}
.morelocation__wrapcontent > * {
  width: calc(100% / 2 - 10px);
}
.morelocation__content {
  height: 450px;
  overflow: scroll;
}
.morelocation__content .showroom {
  margin-bottom: 10px;
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 10px;
  display: block;
}
.morelocation__content .showroom:hover {
  background-color: #ddd;
  cursor: pointer;
  transition: 0.5s;
}
.morelocation__content div.active {
  background-color: #ddd;
}
.active {
  background-color: #ddd;
}
.morelocation__wrapcontent .place2,
.place3,
.place4,
.place5,
.place6,
.place7,
.place8 {
  display: none;
}
/* modal form */
.popup__contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.popup__contact.active {
  display: flex;
}
.popup__contact-inner {
  background-color: white;
  min-width: 30%;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  animation: fadeIn 0.4s ease-in;
}
.popup__contact-inner i {
  color: rgb(54, 133, 22);
}
.popup__contact-inner p {
  font-size: 1.4rem;
  font-weight: 500;
}

p.popup__thank {
  font-weight: 600;
  font-size: 2rem;
  margin: 1.5rem 0 1rem;
  color: var(--text-color);
}
.popup__contact-inner button {
  color: white;
  margin-top: 1rem;
  font-size: 1.7rem;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  display: inline-block;
  background-color: rgb(54, 133, 22);
}
.popup__contact-inner button:hover {
  background-color: rgb(91, 133, 9);
}
