/* ----------------------------------- */
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  z-index: 99;
}
.header__nav {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr auto;
  padding: 1rem 1.5rem;
}
/* scroll css */
/* ---------------- */
.header__scroll.active-color {
  padding: 0 1.5rem;
  position: relative;
  background-color: rgb(237, 86, 59);
  color: black;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  animation: animatetop 0.6s;
}
.header__scroll.active-color .header__logo-text {
  color: white;
}
.header__scroll.active-color .header__logo-link {
  color: white;
}
.header__scroll.active-color .header__nav-link {
  color: white;
}
.header__scroll.active-color .menu__icons > * {
  color: white;
}
.header__scroll.active-color .nav-child__list {
  background-color: rgba(0, 0, 0, 0.7);
}
/* ------------------------ */
/* logo */
.header__logo-link {
  display: flex;
  align-items: center;
}
.header__logo-text {
  font-size: 4rem;
  margin-left: 1.5rem;
  font-family: "Pacifico", cursive;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
/* white background for img */
.header__logo-img {
  max-width: 3rem;
  position: relative;
  z-index: 4;
}
.img-div {
  position: relative;
  z-index: 2;
}
.img-div::after {
  content: "";
  top: -0.5rem;
  left: -1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.9);
  z-index: 3;
}
/* ------ */
/* menu nav */
.menu__nav {
  justify-self: end;
}
.header__nav-list {
  display: flex;
  margin-right: 3rem;
}
.header__nav-item {
  position: relative;
  z-index: 2;
}
.header__nav-link {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  color: white;
  text-transform: capitalize;
}
.nav-icon {
  margin-left: 0.3rem;
  font-size: 1.4rem;
}
/* ------ */
/* nav child */
.nav-child__list {
  border-radius: 3px;
  position: absolute;
  top: 100%;
  left: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 18rem;
  display: none;
  z-index: -3;
}
.header__nav-item:hover .nav-child__list {
  display: block;
}
.nav-child__link {
  color: white;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  line-height: 1.5rem;
}
.nav-child__link i {
  float: right;
}
.nav-child__link:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-child__item {
  position: relative;
}
/* nav child c2 */
.nav-subchild__list {
  position: absolute;
  top: 4%;
  left: 18rem;
  min-width: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(65, 65, 65, 0.4);
  border-radius: 1px;
  animation: fadeIn 0.4s ease;
  display: none;
}
.nav-child__item:hover .nav-subchild__list {
  display: block;
}
.nav-subchild__link {
  position: relative;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.95rem;
  text-transform: capitalize;
}
.nav-subchild__link::after {
  position: absolute;
  content: "";
  top: 79%;
  left: 1rem;
  height: 1px;
  width: calc(100% - 2.4rem);
  background-color: white;
  transform-origin: center left;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.nav-subchild__link:hover::after {
  transform: scaleX(1);
}
/* ----- */
/* menu__icons */
.menu__icons {
  display: grid;
  grid-template-columns: auto auto auto;
}
.menu__icons > * {
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
}
.search__icon {
  margin-right: 2rem;
}
.menu__toggle {
  display: none;
}
/* ----- */
/* mobile nav */
.menu-mobile__nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  /* animate for mobile nav */
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s linear;
}
.menu-mobile__nav.active {
  max-height: 50rem;
}
.mobile__nav-link {
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  color: #000;
  text-transform: capitalize;
}
.mobile__nav-link::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 1.5rem;
  height: 2px;
  border-radius: 2px;
  width: calc(100% - 3rem);
  background: linear-gradient(to left, var(--primary-color), var(--text-color));
  transform: scaleX(0);
  transition: all 0.3s ease-in;
}
.mobile__nav-link:hover::after {
  transform: scaleX(1);
}
.mobile__child-list {
  margin-left: 3rem;
  /* animate for mobile child list */
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in;
}
.mobile__nav-item.active .mobile__child-list {
  max-height: 30rem;
}
.fa-caret-down {
  transition: 0.4s ease-in;
}
.mobile__nav-item.active .fa-caret-down {
  transform: rotate(270deg);
}
.mobile__child-link {
  padding: 0.8rem;
  display: block;
  font-size: 1.5rem;
  color: black;
}
.mobile__child-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* ------------------------------ */
/* header image */
.header__img {
  position: relative;
  max-height: 95vh;
}
.header__img-item-img img {
  height: 95vh;
}
.header__img-item {
  height: 95vh;
  position: relative;
  z-index: 2;
}
.header__img-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  z-index: 3;
  background-color: rgba(128, 30, 30, 0.2);
}
.ziczac {
  background: linear-gradient(-45deg, #ffffff 7px, transparent 0),
    linear-gradient(45deg, #ffffff 7px, transparent 0);
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 18px 30px;
  content: "";
  display: block;
  height: 14px;
  width: 100%;
  position: relative;
  bottom: 1.3rem;
  left: 0;
  z-index: 5;
}
.header__img-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 80%;
  text-align: center;
  z-index: 4;
}
.img-heading {
  font-size: 5rem;
  font-weight: 600;
}
.img__dess {
  margin: 1rem 0 2rem;
  font-size: 2rem;
  letter-spacing: 3px;
}
.themost {
  font-size: 3rem;
  font-weight: 500;
}
.btn-ordernow {
  display: inline-block;
  min-width: 14rem;
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  background-color: var(--third-color);
  color: white;
  font-size: 2rem;
  font-weight: 500;
}
.btn-ordernow:hover {
  background-color: #e49826;
}
/* owl slider */
.owl-dots {
  position: absolute;
  left: 45%;
  bottom: 3rem;
  z-index: 2;
}
.owl-theme .owl-dots .owl-dot span {
  display: block;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 1px solid rgb(247, 247, 247);
  background: transparent;
}
.owl-dots .owl-dot.active span {
  background-color: rgb(209, 209, 209);
}
/* ------------------------- */
/* main content */
.our-cakes,
.aboutus,
.our-menu,
.our-story,
.order__cake,
.lastest-new,
.our-team,
.contact-us,
.testimonial {
  padding: 5rem 1.5rem 3rem;
  margin-bottom: 1rem;
}
.subhome__heading {
  display: block;
  color: var(--text-color1);
  text-align: center;
  font-size: 4.5rem;
}
.cake-home-icon {
  width: 8rem;
  display: block;
  margin: 0 auto 2rem;
}
.subhome__desc {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
.our-cakes__details {
  margin-top: 4rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.our-cakes__item img {
  height: 28rem;
  border-radius: 4px;
}
.our-cakes__item-content {
  text-align: center;
}
.name-cake a {
  font-size: 1.7rem;
  display: block;
  margin: 2rem 0 1rem;
  color: #101010;
  transition: all 0.3s ease-in;
}
.our-cakes__item:hover .name-cake a {
  color: var(--third-color);
}
/* --------------------------------- */
/* -------------------------------- */
/* aboutus */
.aboutus,
.our-story {
  background-color: #f6f6f6;
  margin-bottom: 0;
}
.aboutus__desc span {
  font-family: cursive;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color1);
}
.aboutus-details {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.aboutus__heading {
  font-size: 6rem;
  font-weight: 400;
  color: var(--text-color1);
  line-height: 1.2;
  margin-bottom: 3rem;
}
.aboutus__heading span {
  display: block;
  font-weight: 800;
  font-family: "Pacifico", cursive;
}
.aboutus-content p {
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.btn-readmore {
  font-size: 1.8rem;
  text-align: center;
}
/* ---------------------------------------- */
/* --------------------------------------- */
/* calltoaction */
.callaction {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../image/Index_headerImg/makingcake.jpg");
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}
.contact-us::after,
.callaction::after {
  background: linear-gradient(-45deg, #ffffff 7px, transparent 0),
    linear-gradient(45deg, #ffffff 7px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 18px 30px;
  content: "";
  display: block;
  height: 14px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.callaction-details h3 {
  font-size: 5rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}
/* -------------------------- */
/* -------------------------- */
/* our-menu */
.our-menu {
  padding-top: 3rem;
}
.our-menu-btns {
  width: 100%;
  margin: 3rem 0 5rem;
  text-align: center;
}
.our-menu-btn-chose {
  font-size: 1.8rem;
  min-width: 18rem;
}
.our-menu-btn-chose.active,
.our-menu-btn-chose:hover {
  color: #9f2b00;
}
.our-menu-cake-list {
  position: relative;
  display: none;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 8rem;
}
.our-menu-cake-list.active {
  display: grid;
}
.our-menu-cake-item {
  display: grid;
  gap: 1.5rem;
  color: var(--text-color1);
  align-items: center;
  grid-template-columns: 0.5fr 1fr;
}
.our-menu-cake-item:hover {
  background-color: rgba(224, 224, 224, 0.2);
  cursor: pointer;
}

.menu-cake-item__name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #9f2b00;
  margin-bottom: 0.5rem;
}
.menu-cake-item__content {
  position: relative;
}
.price-cake {
  margin-left: 3rem;
  color: var(--third-color);
  font-weight: 400;
  font-family: cursive;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}
.cake-desc {
  display: none;
}
.menu-cake-item__content p {
  font-size: 1.4rem;
  margin: 0.8rem 0;
}
.code-item-cake {
  font-weight: 500;
}
.item-cake-feature ul {
  display: flex;
  margin-top: 1rem;
}
.item-cake-feature ul li {
  font-size: 1.4rem;
  display: flex;
  font-weight: 300;
  align-items: center;
  margin-right: 1rem;
}
.item-cake-feature ul li i {
  color: var(--third-color);
  font-size: 1rem;
  min-width: 1.5rem;
}
.btn-order-cake {
  margin-top: 2rem;
  display: inline-block;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  background-color: var(--third-color);
}
.btn-order-cake:hover {
  opacity: 0.9;
}
.our-menu-cake-item-img {
  position: relative;
  align-self: stretch;
}
.our-menu-cake-item-img img {
  height: 100%;
}
.our-menu-cake-item-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e6a84c40;
  transform: scaleX(0);
  transition: transform 0.4s ease-in;
}
.our-menu-cake-item-img:hover::after {
  transform: scaleX(1);
}
.cake-item-img-feature {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  display: none;
}
.our-menu-cake-item-img:hover .cake-item-img-feature {
  display: block;
}
.cake-item-img-feature i {
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 3px;
  border: 1px solid white;
}
.cake-item-img-feature i:hover {
  background-color: var(--third-color);
}
.our-menu-cake-list[data-category="Anniversary Cakes"] .menu-cake-item__name {
  font-size: 1.7rem;
}
.our-menu-cake-list[data-category="Anniversary Cakes"]
  .our-menu-cake-item-img
  img {
  max-height: 22rem;
}
.btn-view-morecake {
  position: absolute;
  bottom: -9rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--third-color);
  color: white;
  padding: 0.8rem;
  border-radius: 3px;
  font-size: 1.4rem;
}
.btn-view-morecake:hover {
  background-color: var(--second-color);
}
/* Css for container hold details item and larger item */
/* center product-list top ở bên popularcake.html */
.product-cake-detail-image,
.larger-img-tiem,
.detail-item-cake,
.birthdaycake__item-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.product-cake-detail-image.active,
.larger-img-tiem.active,
.detail-item-cake.active,
.birthdaycake__item-large.active {
  display: flex;
}
/*  */
.details-item-cake-inner {
  max-width: 75%;
  max-height: 60rem;
  justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  animation: fadeIn 0.6s ease-in;
}
.cake-inner-left-content {
  padding: 1.5rem;
}
.cake-inner-img {
  padding: 0.5rem;
}
.cake-inner-img img {
  border-radius: 5px;
}
.cake-inner-img img,
.cake-inner-img {
  max-width: 24rem;
  max-height: 24rem;
}
.item-cake-inner-right {
  padding: 3rem;
}
.item-cake-inner-name {
  font-size: 2.5rem;
  font-weight: 400;
  display: block;
  color: #9f2b00;
  margin-bottom: 1rem;
}
.cake-inner-right-content p {
  font-size: 1.5rem;
  color: #333;
}
.item-cake-inner-price {
  font-family: cursive;
  color: var(--third-color);
  margin-left: 5rem;
  font-size: 2.2rem;
}
.item-cake-inner-ingredient {
  margin: 1.5rem 0;
  font-size: 2rem;
  font-size: 1.3rem;
}
/* Css for from inside a details item */
/* group-form */
.code-price-inline {
  display: flex;
  align-items: center;
}
.code-price-inline p:last-child {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.group-form-cake {
  margin-right: 5rem;
  color: var(--text-color1);
}
.group-form-mix {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto 1fr;
}
.group-form-cake input[type="radio"] {
  margin-right: 0.3rem;
}
textarea {
  margin-top: 1rem;
  height: 7rem;
  padding: 0.8rem;
  border-radius: 3px;
  border: 1px solid rgb(233, 233, 233);
  resize: none;
  width: 100%;
  font-size: 1.5rem;
}
.group-form-cake select {
  background-color: transparent;
  border: 1px solid rgb(233, 233, 233);
  height: 3rem !important;
  border-radius: 3px;
}
.btn-checkout-cake {
  margin-top: 1.5rem;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.4rem;
}
.note-cake-item {
  margin-top: 1rem;
  font-size: 1.3rem;
}
.note-cake-item span {
  color: red;
  margin-right: 0.5rem;
}
.btn-cancel-checkout {
  margin-left: 3rem;
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 600;
}
.form-cake__desc p {
  font-size: 1.4rem;
  color: var(--text-color1);
}
.birthdaycake__item-moreinfo {
  padding-top: 1rem;
  border-top: 0;
}
.birthdaycake__item-moreinfo div i {
  min-width: 3.5rem;
  color: var(--third-color);
}
.birthdaycake__item-moreinfo div span {
  font-size: 1.2rem;
}
.item-cake-inner-code {
  font-weight: 500;
}
/* Css for container larger image */
/* larger image */
.image-detail__cake,
.larger-img-item-details,
.birthdaycake__item-large-inner {
  background-color: #fff;
  width: 60%;
  border-radius: 1rem;
  padding: 1rem;
  animation: fadeIn 0.6s ease-in;
  max-height: 55rem;
}
.larger-img-item-details img {
  max-height: 53rem;
}
.close__larger-item-img,
.close__birthdaycake__item {
  position: absolute;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  color: #fff;
}
/* ------------------------ */
/* ----------------------- */
/* our-story */
.our-story {
  background-color: var(--bg-color1);
}
.our-story-details {
  margin-top: 3rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: 0.75fr 1fr;
  align-items: center;
}
.our-story__list {
  display: grid;
  gap: 3rem;
}
.our-story__item {
  display: grid;
  gap: 2rem;
  grid-template-columns: 8rem 1fr;
  align-items: center;
}
.our-story__item-detail h4 {
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
.our-story__item-detail h4::after {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 4rem;
  height: 1px;
  background-color: var(--second-color);
}
.our-story__item-detail {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--text-color1);
}
/* ------------------------ */
/* ----------------------- */
/* order__cake */
.order__cake {
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  background: url("../../image/ordercake/order-form-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 90vh;
  color: #fff;
  position: relative;
}
.contact-us::before,
.order__cake::before,
.callaction::before {
  content: "";
  display: block;
  width: 100%;
  height: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(-45deg, transparent 16px, #f6f6f6 0),
    linear-gradient(45deg, transparent 16px, #f6f6f6 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 18px 30px;
}
.order__cake-text {
  font-size: 3rem;
}
.order__cake-heading {
  font-size: 4.5rem;
  letter-spacing: 1px;
}
s.order__cake-desc {
  font-size: 2rem;
}
.order__cake-list {
  display: grid;
  margin-top: 2rem;
  gap: 1rem;
}
.order__cake-item span {
  margin-left: 0.5rem;
}
.order__cake-image {
  top: 16%;
  right: -5%;
  position: absolute;
  height: 50rem;
  width: 55rem;
  background-color: var(--bg-color1);
  border-top-left-radius: 90%;
}
.order__cake-image img {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
}
.btn-ordernow-form {
  margin: 2rem 1rem;
  animation: zoomIn_out 1.6s ease-in-out infinite;
}
/* ------------------------------- */
/* ------------------------------- */
/* blog */
.lastest-new {
  background-color: var(--bg-color1);
  padding-bottom: 6rem;
}
.lastest-new__list {
  margin-top: 6rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.new-item__img {
  max-height: 25rem;
}
.new-item__img img {
  height: 25rem;
}
.lastest-new__item {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
}
.lastest-new__item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.new-item__content {
  padding: 1.2rem 1.5rem;
}
.new-item__heading {
  margin: 1rem 0 1.5rem;
}
.btn-read-more {
  border-bottom: 2px solid var(--third-color);
  display: inline-block;
  margin-top: 2rem;
  color: var(--text-color1);
}
.new-date,
.btn-read-more:hover {
  color: var(--third-color);
}
/* ---------------------------------- */
/* ----------------------------------- */
/* ourteam */
.our-team {
  padding-right: 0;
  padding-left: 0;
  padding-top: 4rem;
}
.ourteam-details__list {
  display: grid;
  gap: 0.5rem;
  margin-top: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.ourteam-detail__item {
  position: relative;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}
.ourteam-detail__item img {
  height: 36rem;
}
.ourteam-detail__item::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #e6a84c50;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.ourteam-person-info {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 150%);
  text-align: center;
  display: grid;
  gap: 1rem;
  transition: transform 0.6s ease-in-out;
  z-index: 4;
}
.ourteam-detail__item:hover::after {
  opacity: 1;
}
.ourteam-detail__item img {
  transition: filter 0.6s ease-in-out;
}
.ourteam-detail__item:hover img {
  filter: blur(1px);
}
.ourteam-detail__item:hover .ourteam-person-info {
  transform: translate(-50%, -50%);
}
.name-ourteam {
  font-weight: 500;
  font-size: 1.7rem;
}
.position-ourteam {
  font-size: 1.5rem;
  font-size: 400;
  font-family: cursive;
}
.ourteam-social__link {
  color: var(--third-color);
  font-size: 1.8rem;
  transition: 0.3s ease-in-out;
}
.ourteam-social__link:hover {
  color: var(--text-color1);
}
.ourteam-social__link i {
  min-width: 1.5rem;
}
/* ----------------------------- */
/* ----------------------------- */
/* contact-us */
.contact-us {
  margin-top: 5rem;
  margin-bottom: 0;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(128, 30, 30, 0.2),
      rgba(128, 30, 30, 0.2)
    ),
    url("../../image/gallery/bg_img.png");
  height: 85vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
}
.contact-us h3 {
  font-size: 5.5rem;
}
.contact-us p {
  margin: 2rem 0 3rem;
}
.contactus-form {
  position: relative;
}
.contactus-form input {
  width: 70%;
  height: 5rem;
  padding: 1rem;
  padding-right: 5rem;
  background-color: var(--third-color);
  border: 0;
  outline: 0;
  border-radius: 2rem;
  color: var(--text-color1);
}
button.btn-contactus-submit {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translateY(-50%);
  color: white;
  background-color: transparent;
}
button.btn-contactus-submit i {
  font-size: 2rem;
}
/* ------------------------------- */
/* ------------------------------- */
/* testimonial */
.testimonial {
  background-color: var(--bg-color1);
  padding-bottom: 5rem;
}
.testimonial__list {
  margin-top: 5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}
.testimonial__item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2.5rem 1.5rem;
  background-color: white;
  border-radius: 4px;
  display: grid;
  gap: 1.5rem;
}
.testimonial__item-content {
  display: grid;
  gap: 1rem;
}
.testimonial__item-img img {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  border-radius: 50%;
}
.testimonial__desc {
  font-size: 1.3rem;
  color: var(--text-color1);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.testimonial__position {
  color: var(--third-color);
}
/* ----------------------------- */
/* ----------------------------- */
/* new-product */
.new-product {
  padding: 4rem 1.5rem 7rem;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.new-product__list {
  position: relative;
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/* slider */
.new-product__list .owl-nav {
  display: block !important;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 30%;
}
.owl-prev span,
.owl-next span {
  font-size: 4rem !important;
  padding: 0 2rem;
  border-radius: 4px;
  transition: all 0.4s ease-in;
  background-color: rgba(54, 54, 54, 0.418);
  color: white;
}
.owl-prev span:hover,
.owl-next span:hover {
  border: 1px solid var(--ordercake-color);
  background-color: #e5a74c60;
}
.owl-prev {
  left: 0.5rem;
}
.owl-next {
  right: 0.5rem;
}
/* slider */
.new-product__list .owl-stage-outer {
  padding-bottom: 3rem;
}
.newproduct-item__thumbnail {
  position: relative;
}
.newproduct-item-tag {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: #f0a83c;
  padding: 0.4rem 1rem;
  min-width: 6rem;
  border-radius: 5px;
  font-family: cursive;
  font-weight: 600;
  color: white;
  text-align: center;
}
.newproduct-item__thumbnail img {
  height: 25rem;
  border-radius: 2px;
}
.newproduct-item__content {
  background-color: var(--bg-color1);
  position: relative;
  color: var(--text-color1);
  text-align: center;
  display: grid;
  padding: 1rem 1rem 5rem;
  gap: 1rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.btn-viewdetal {
  position: absolute;
  display: inline-block;
  color: white;
  top: 80%;
  left: 50%;
  border-radius: 2rem;
  padding: 0.7rem 1.4rem;
  transform: translateX(-50%);
  background-color: var(--third-color);
  width: 60%;
}
.btn-viewdetal:hover {
  opacity: 0.9;
}
.name-newproduct {
  color: #9f2b00;
  font-size: 1.4rem;
  font-weight: bold;
}
.newproduct-item__thumbnail i {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
}
.newproduct-item__thumbnail i:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
/* our partner */
.our-partner {
  margin-top: 1rem;
}
.our-partner__details {
  background-color: #f6f6f6;
}
.our-partner__details {
  margin-top: 5rem;
  display: grid;
  gap: 6rem;
  padding: 3rem 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
.our-partner__item {
  transition: all 0.2s ease-in;
}
.our-partner__item:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* ----------------------------- */
/* login form */
.seach-container,
.login__form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: linear-gradient(
      to left,
      rgb(0, 0, 0, 0.8),
      rgba(27, 26, 26, 0.774)
    ),
    url("../../image/login_background.jpg");
  background-position: center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* search */
.seach-container {
  background: rgba(0, 0, 0, 0.8);
}
.search__container-detail {
  width: 80%;
  height: 90vh;
  animation: animatezoom 0.8s ease-in-out;
}
.close__search {
  top: 2rem;
  right: 2rem;
  position: absolute;
  color: white;
  cursor: pointer;
}
.search-infomation {
  text-align: center;
}
.search-infomation input {
  height: 4rem;
  border: 0;
  border-radius: 5px;
  padding: 1rem;
  display: block;
  width: 70vw;
  margin-bottom: 2rem;
}
.btn-search-info {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 2rem;
  padding: 0.8rem 2rem;
}
/* ---- */
.login__form.active {
  display: flex;
}
.seach-container.active {
  display: flex;
}
.login-form-details {
  border-radius: 1.5rem;
  height: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  animation: animatezoom 0.8s ease-in-out;
}
.form-right .form-image {
  height: 80vh;
}
.form-right .form-image img {
  height: 80vh;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
/* left */
.form-left {
  position: relative;
  padding: 3rem;
  text-align: center;
}
.close__login-form {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.5rem;
}
.close__login-form i {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 3px;
  cursor: pointer;
}
.close__login-form i:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
.login-form__heading {
  margin-top: 1.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  display: block;
}
.login__chose-btns {
  margin: 1rem 0 5rem;
}
.btn-login-chose {
  border-radius: 5px;
  color: #000;
  display: inline-block;
  min-width: 8rem;
  border: 1px solid rgb(233, 233, 233);
  padding: 0.3rem 0.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.btn-login-chose.active,
.btn-login-chose:hover {
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
.form-login {
  gap: 1rem;
  grid-template-columns: 1fr;
  display: none;
}
.form-login.active {
  display: grid;
}
.form-login input {
  color: #333;
  height: 3.4rem;
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid rgb(233, 233, 233);
  font-size: 1.5rem;
}
.btn-login-form {
  margin-top: 1rem;
  background-color: var(--text-color);
  color: white;
  border-radius: 4px;
  padding: 0.8rem;
  transition: all 0.4s ease-in;
  font-weight: bold;
}
.btn-login-form:hover {
  background-color: rgb(44, 128, 224);
}
.forget-password {
  font-size: 1.5rem;
  margin: 0.6rem 0;
  cursor: pointer;
}
.forget-password:hover {
  color: #9f2b00;
}
.form-social__icon {
  margin-top: 1rem;
}
.form-icon__link {
  color: white;
}
.form-icon__link:hover {
  opacity: 0.9;
}
.form-icon__link i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 4px;
  background-color: var(--bg-facebook);
}
.form-icon__link:nth-of-type(2) i {
  background-color: var(--bg-rss);
}
.form-icon__link:nth-of-type(3) i {
  background-color: var(--bg-twitter);
}
.form-icon__link:nth-of-type(4) i {
  background-color: var(--bg-google);
}
.form-icon__link:nth-of-type(5) i {
  background-color: var(--bg-linked);
}
/* -------------------------- */
/* footer */
.footer {
  background-image: url("../../image/footer-bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: var(--footer-text);
  line-height: 1.6;
}

.footer-top__list {
  padding: 8rem 1.5rem 4rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.footer-top__heading {
  position: relative;
  display: block;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 3rem;
  color: white;
}
.footer-top__heading::after,
.footer-top__heading::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  height: 1px;
  width: 6rem;
  background: var(--footer-text);
}
.footer-top__heading::after {
  top: calc(100% + 3px);
  width: 3rem;
}
.footer-top__item p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.item-footer__link {
  display: inline-block;
  line-height: 1.6;
  color: var(--footer-text);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.footer-top__item:nth-of-type(3) .item-footer__link:hover {
  transform: translateX(1rem);
}
.item-footer__link i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.footer-top__item:nth-of-type(4) .item-footer__link span {
  color: white;
}
.item-footer__link:hover {
  color: #fcaf28;
}
/* footer bottom */
.footer-details__bottom {
  padding: 2rem 1.5rem;
  background: rgba(0, 0, 0, 0.7);
}
.footer-details__bottom .row-index {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;
}
.copy-right span {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
}
.footer-social__link {
  color: #fff;
}
.footer-social__link i {
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  display: inline-block;
  border-radius: 3px;
}
.footer-social__link:hover {
  opacity: 0.8;
}
.footer-social__link:nth-of-type(1) i {
  background: var(--bg-facebook);
}
.footer-social__link:nth-of-type(2) i {
  background: var(--bg-twitter);
}
.footer-social__link:nth-of-type(3) i {
  background: var(--bg-rss);
}
.footer-social__link:nth-of-type(4) i {
  background: var(--bg-google);
}
.footer-social__link:nth-of-type(5) i {
  background: var(--bg-linked);
}
/* move to top */
.moveto-top {
  cursor: pointer;
  position: fixed;
  bottom: 10%;
  right: 2rem;
}
.moveto-top i:hover {
  color: var(--third-color);
  border: 3px solid var(--third-color);
}
.moveto-top i {
  transition: all 0.3s ease-in-out;
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 50%;
  color: rgba(167, 167, 167, 0.589);
  border: 3px solid rgba(167, 167, 167, 0.61);
}
/*  */
