@media only screen and (max-width: 1080px) {
  .advance__filter-cake__item:nth-child(even) > * {
    margin-left: 0;
  }
}
@media only screen and (max-width: 992px) {
  .main__popularcake-details .row-index {
    grid-template-columns: 1fr;
  }
  .filter-ranger {
    width: 80%;
  }
  .advance__filter-cake__item {
    flex-basis: 25%;
  }
}
@media only screen and (max-width: 767px) {
  .image-detail__cake {
    width: 85%;
  }
  .addcart-form__inner {
    grid-template-columns: 1fr;
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .advance__filter-cake__item {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .header__popular-cake-img h3 {
    font-size: 3.5rem;
  }
  .center__product-list-top {
    grid-template-columns: 1fr;
  }
  .center__product-list-top select {
    justify-self: start;
  }
  .header__popular-cake-img {
    height: 70vh;
  }
  .image-detail__cake img {
    height: 40rem;
  }
  .image-detail__cake {
    max-height: 45rem;
  }
  .addcart-form__inner {
    width: 90%;
  }
}
