/* header img */
.top-image {
  margin-bottom: 3rem;
}
.headimg {
  height: 95vh;
}

/* blog child */
.blog-child {
  padding: 1rem;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

/* link blog */
.link-blog {
  display: flex;
  padding-bottom: 2rem
}
.item-link-blog {
  padding: 0 1rem;
  color: var(--third-color);
}
.item-link-blog:hover {
  color: red;
}
.link-blog p {
  padding: 0 1rem;
}

/* content blog child */
.heading-main,
.dateby-main,
.content-blog-child b {
  font-family: 'Times New Roman', Times, serif;
}
.heading-main {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 4rem;
}
.dateby-main {
  text-align: center;
  font-style: italic;
  padding: 1rem 0 2rem;
}
.content-blog-child {
  padding-bottom: 1rem;
}
.content-blog-child b {
  font-size: 2rem;
}
.image-blog-child,
.content-blog-child1 {
  padding-bottom: 3rem;
}
.image-blog-child {
  max-height: 75vh;
}

/* share blog child */
.share-icon {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2rem;
}
.word-share {
  padding-top: 0.25rem;
}
.menu-icon {
  display: flex;
  padding: 0 3rem;
}
.menu-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid #5f5f5f;
  border-radius: 25px;
  font-size: 1.6rem;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin: 0 2rem;
}
.backface a:hover {
  background-color: var(--bg-facebook);
}
.backtwitter a:hover {
  background-color: var(--bg-twitter);
}
.backgoogle a:hover {
  background-color: var(--bg-google);
}
.backin a:hover {
  background-color: var(--bg-rss);
}
.menu-icon a:hover {
  color: white;
}

/* footer */
.footer-top__list {
  padding-top: 1rem;
}