/* header img */
.top-image {
  margin-bottom: 3rem;
}
.headimg {
  height: 95vh;
}

/* blog child */
.blog-child {
  padding: 1rem 1rem 2rem;
}

/* link blog */
.link-blog {
  display: flex;
  padding-bottom: 2rem;
}
.item-link-blog {
  color: var(--third-color);
}
.item-link-blog:hover {
  color: red;
}
.link-blog p {
  padding: 0 2rem;
}

/* content blog child */
.heading-main,
.dateby-main,
.content-blog-child b {
  font-family: "Times New Roman", Times, serif;
}
.heading-main {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  padding-bottom: 1rem;
}
.dateby-main {
  text-align: center;
  font-style: italic;
  padding-bottom: 4rem;
}
.word-blog-child {
  padding-bottom: 1rem;
}
.word-blog-child b,
.word-blog-child1 b {
  font-size: 2rem;
}
.image-blog-child,
.word-blog-child1 {
  padding-bottom: 3rem;
}
.image-blog-child {
  max-height: 75vh;
}

/* group blog child */
.end-img {
  margin: 2rem auto 1rem;
  background: url(./../../../image/Blog/A.png);
  width: 276px;
  height: 37px;
}
.b-blog-child {
  display: flex;
}
.c-blog-child {
  display: flex;
  margin: 1rem auto 2rem;
}
.previous-and-next,
.index-blog-child {
  display: flex;
  color: black;
  border: 1px solid black;
  padding: 1rem 2rem;
  margin: 0.5rem;
}
.previous-and-next span,
.index-blog-child span {
  padding: 0.45rem 1rem;
}
.w-on {
  padding: 0 1rem;
}
.previous-and-next:hover,
.index-blog-child:hover {
  background-color: rgb(206, 206, 206);
  color: black;
  text-decoration: none;
}
/* share blog child */
.share-icon {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2rem;
}
.word-share {
  padding-top: 0.25rem;
}
.menu-icon {
  display: flex;
  padding-left: 2rem;
}
.menu-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid #5f5f5f;
  border-radius: 25px;
  font-size: 1.6rem;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin: 0 2rem;
}
.menu-icon a:hover {
  color: white;
}
.backface a:hover {
  background-color: var(--bg-facebook);
}
.backtwitter a:hover {
  background-color: var(--bg-twitter);
}
.backgoogle a:hover {
  background-color: var(--bg-google);
}
.backin a:hover {
  background-color: var(--bg-rss);
}
