.header__popular-cake-img {
  position: relative;
  background: linear-gradient(
      to right,
      rgba(36, 17, 17, 0.541),
      rgba(41, 12, 12, 0.555)
    ),
    url("../../image/anniversary_bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 88vh;
  color: white;
}
