/*  */
.header__checkout-image {
  background: linear-gradient(
      to right,
      rgba(14, 10, 10, 0.671),
      rgba(28, 29, 32, 0.527)
    ),
    url(../../image/checkout__bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 60vh;
  position: relative;
}
.header__checkout-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 80%;
  text-align: center;
}
.header__checkout-content h3 {
  font-size: 4rem;
  letter-spacing: 4px;
  display: block;
  text-transform: uppercase;
}
.check-out__main {
  background-color: #f4f4f2;
  padding: 6rem 1.5rem 4rem;
}
.returning-customer__item {
  margin-bottom: 2rem;
}
.returning-cutomer__question {
  background-color: var(--text-color);
  color: white;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.open-customer-question {
  margin-left: 1rem;
  color: white;
  text-decoration: underline;
}
.open-customer-question:hover {
  color: var(--third-color);
}
.returning-customer__item.active .returning-cutomer__answer {
  max-height: 50rem;
}
.returning-cutomer__answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in;
}
.returning-cutomer__answer > * {
  padding: 1.3rem;
}
.returning-cutomer__answer p {
  font-size: 1.4rem;
  color: var(--text-color1);
}
.customer-login {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
}
.billing-details__content .group-form input,
.group-form select,
.customer-login input,
.login-coupon {
  width: 100%;
  height: 3.5rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid #353535;
  padding: 1rem;
  color: #333;
}
.group-form select {
  height: 3.8rem;
  color: #777;
}
.group-form label {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  display: block;
}
.btn-submit-checkout,
.btn-getcoupon,
.customer-login button {
  position: relative;
  justify-self: start;
  color: white;
  min-width: 10rem;
  padding: 0.6rem 1rem;
  font-size: 1.7rem;
  border-radius: 5px;
  background-color: var(--third-color);
  z-index: 2;
}
.btn-submit-checkout::after,
.btn-getcoupon::after,
.customer-login button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgb(62, 147, 228);
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 5px;
  transform-origin: center left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.btn-submit-checkout span,
.btn-getcoupon span,
.customer-login button span {
  position: relative;
  z-index: 4;
}
.btn-getcoupon {
  margin-top: 1.5rem;
}
.checkout-step3 .login-coupon {
  width: 100%;
}
.btn-getcoupon:hover::after,
.btn-submit-checkout:hover::after,
.customer-login button:hover::after {
  transform: scaleX(1);
}
.btn-lost-pass {
  text-decoration: underline;
  font-size: 1.4rem;
  color: var(--third-color);
}
/* checkout-step2 */
.check-out__form {
  margin-top: 2.5rem;
}
.checkout-step2 {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 0.5fr 1fr;
}
.checkout-step2__heading {
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-color1);
  border-bottom: 2px solid rgb(185, 185, 185);
  padding-bottom: 1.3rem;
}
.checkout-step2__heading::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 4rem;
  height: 2px;
  background-color: var(--third-color);
}
.billing-details__content,
.additional-info__content {
  margin-top: 2rem;
}
.group-form label {
  display: block;
}
.billing-details__content {
  display: grid;
  gap: 1.2rem;
}
/* checkout-step3 */
.your-order {
  overflow: hidden;
}
.your-order__details {
  overflow-x: scroll;
}
.addition-note {
  margin-bottom: 2rem;
}
.checkout-step3 table {
  margin-top: 2rem;
  width: 100%;
}
.checkout-step3 table,
th {
  border: 0.5px solid rgb(233, 233, 233);
  border-collapse: collapse;
}
.checkout-step3 table thead tr th {
  font-size: 1.7rem;
  font-weight: 400;
}
.checkout-step3 table tbody {
  margin-top: -5px;
}
.checkout-step3 table tr {
  display: grid;
  grid-template-columns: 12rem 1fr 12rem 10rem 10rem;
  background-color: white;
}
.checkout-step3 table .colspan2,
.total-money {
  grid-column: span 2;
}
.checkout-step3 table .colspan2 {
  color: var(--third-color);
}
.checkout-step3 table tr th {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-step3 table tbody tr th {
  font-weight: 400;
  font-size: 1.4rem;
}
.number-of-quanity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.quanity-modify {
  margin-left: 2rem;
}
.quanity-item {
  font-size: 1.8rem;
}
.checkout-step3 table tbody tr:last-child th {
  font-size: 1.8rem;
}
.quanity-modify i {
  cursor: pointer;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  background: rgba(0, 0, 0, 0.2);
  line-height: 2rem;
  text-align: center;
  border-radius: 2px;
}
.quanity-modify i:hover {
  background-color: #777;
  color: white;
}
/* checkout-step4 */
.checkout-step4 {
  margin-top: 5rem;
}
.group-radio {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: var(--text-color1);
}
.list-payment-modify {
  display: flex;
  margin-top: 1rem;
}
.list-payment-modify img {
  max-width: 50px;
  margin-right: 1rem;
  cursor: pointer;
}
.list-payment-modify img.active {
  border: 2px solid rgb(54, 117, 233);
  border-radius: 2px;
}
.list-payment i {
  font-size: 5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.check-payment__notify {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  margin-top: 1rem;
  font-weight: 300;
  color: rgb(73, 73, 73);
  background-color: rgba(233, 233, 233, 0.315);
}
.group-radio div input {
  margin: 0 0.5rem;
}
.check-payment__notify span {
  padding: 1rem;
  display: inline-block;
}
.group-radio div span {
  color: var(--third-color);
  font-size: 1.3rem;
  text-decoration: underline;
}
.group-radio.active .check-payment__notify {
  max-height: 6rem;
}
.btn-submit-checkout {
  display: inline-block;
}
/* Responsive */
@media only screen and (max-width: 950px) {
  .checkout-step2 {
    grid-template-columns: 1fr;
  }
  .checkout-step3 {
    order: -1;
    display: grid;
    gap: 2rem;
  }
  .addition-note {
    order: 2;
  }
}
