@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 900px) {
  .review-card-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 576px) {
  .header__img-item img {
    height: 80vh;
  }
  .header__img-item::after {
    height: 80vh;
  }
}
@media only screen and (max-width: 500px) {

}