@media only screen and (max-width: 1024px) {
  .review-card-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (max-width: 768px) {
  .review-card-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (max-width: 576px) {
  .header__img-item img {
    height: 80vh;
  }
  .header__img-item::after {
    height: 80vh;
  }
  .review-card-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .testimonial__container ul li {
    width: 60vw;
    margin: 0px auto 10px auto;
  }
}
@media only screen and (max-width: 500px) {
  .testimonial-rating-star {
    flex-direction: column;
    align-items: center;
  }
  .testimonial-rating-star-list {
    margin-top: 20px;
  }
}