/*  */
.main__ordercake {
  padding: 6rem 0 4rem;
  background-color: #f3f2f0;
}
.ordercake-home__heading {
  font-size: 5rem;
  text-align: center;
  display: block;
  color: #353535;
  margin-bottom: 1rem;
}
.ordercake-home__icon {
  width: 10rem;
  margin: 0 auto;
}
/* order list slider */
.ordercake__category-list {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 5rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.ordercake__category-item {
  position: relative;
  border-radius: 0.8rem;
  background-color: white;
  text-align: center;
  line-height: 1.6;
  padding: 0.5rem 1rem 4rem;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.ordercake__category-item--yellow {
  background-color: #f1af4c;
}
.ordercake__category-item--yellow .category-item__name {
  color: black;
  background-color: white;
}
.ordercake__category-item--yellow .category-item__content {
  color: white;
}
.ordercake__category-item--yellow .category-item-order {
  background-color: white;
  color: black;
}
.category-item-order {
  display: inline-block;
  padding: 0.8rem 2rem;
  color: black;
  border-radius: 2rem;
  margin: 1rem 0;
  background-color: #f1af4c;
  color: white;
}
.category-item-order:hover {
  opacity: 0.9;
}
.category-item__name {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 400;
  background-color: #f1af4c;
  color: white;
  border-radius: 3rem;
  min-width: 23rem;
  padding: 1.2rem;
}
.category-item__content {
  margin-top: 6rem;
}
.category-item__content > *:not(.category-item-order) {
  padding: 1.5rem 0;
}
.category-item-price {
  font-weight: 300;
  margin-top: 2rem;
}
/* slider */
.owl-carousel .owl-stage-outer {
  height: 52rem !important;
  padding-top: 5rem;
}
.header__img-list {
  position: relative;
}
.owl-nav {
  display: block !important;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
}

.owl-prev span,
.owl-next span {
  font-size: 4rem !important;
  padding: 0 2rem;
  border-radius: 4px;
  transition: all 0.4s ease-in;
  background-color: rgba(54, 54, 54, 0.418);
}
.owl-prev span:hover,
.owl-next span:hover {
  border: 1px solid var(--ordercake-color);
  background-color: #e5a74c60;
}
.owl-prev {
  left: 2rem !important;
}
.owl-next {
  right: 2rem !important;
}
/* ----------------------- */
/* form order cake */
.form-order-cake {
  margin-top: 10rem;
}
.order-form-details {
  position: relative;
  padding: 7rem 2rem;
  color: white;
  margin-top: 2rem;
  background: url(../../image/ordercake/order-form-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
.order-form-details::before {
  content: "";
  display: block;
  width: 100%;
  height: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(-45deg, transparent 16px, #f6f6f6 0),
    linear-gradient(45deg, transparent 16px, #f6f6f6 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 18px 30px;
}
.order-form-details::after {
  background: linear-gradient(-45deg, #ffffff 7px, transparent 0),
    linear-gradient(45deg, #ffffff 7px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 18px 30px;
  content: "";
  display: block;
  height: 14px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-order-cake h3 {
  text-align: center;
  font-size: 3.5rem;
  padding: 0 1.5rem;
}
.form-order-cake-desc {
  padding: 0 1.5rem;
  text-align: center;
  display: block;
  margin: 1rem 0 5rem;
}
.order-form-optioncake {
  display: grid;
  gap: 4rem;
  grid-template-areas:
    "A B C D"
    "E F H H";
}
.group-form1 {
  grid-area: A;
}
.group-form2 {
  grid-area: B;
}
.group-form3 {
  grid-area: C;
}
.group-form4 {
  grid-area: D;
}
.group-form5 {
  grid-area: E;
}
.group-form6 {
  grid-area: F;
}
.group-form7 {
  grid-area: H;
  align-self: flex-end;
}
.group-form-chose {
  display: flex;
  flex-direction: column;
}
.group-form-chose div label {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.group-form-chose div:last-child label {
  color: #d8aa65;
  font-weight: bold;
}
.group-select-form label,
.group-text p,
.group-form-chose p {
  display: block;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.7rem;
}
.order-form-info-person .group-form input,
.group-form-text textarea,
.group-form-text input,
.group-select-form select {
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid rgb(233, 233, 233);
  color: white;
}
.mr-top {
  margin-top: 1rem;
}
.group-select-form select > * {
  background-color: #222;
}
.group-form-text textarea {
  resize: none;
  height: 8rem;
}
.btn-place-order {
  margin: 3rem 0 0.5rem;
  display: block;
  background-color: var(--ordercake-color);
  color: white;
  padding: 0.8rem;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  transition: 0.2s ease-in;
  font-size: 1.8rem;
}
.btn-place-order:hover {
  background-color: transparent;
  border: 1px solid var(--ordercake-color);
}

/* our work */
.ordercake__product {
  margin-top: 8rem;
  padding: 0 1.5rem 4rem;
}
.ordercake__product .our-work {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.our-work__item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.name-ourwork-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  width: 70%;
  height: 70%;
  align-items: center;
  justify-content: center;
  display: none;
}
.name-ourwork-item a {
  color: black;
  font-size: 1.8rem;
  display: inline-block;
  border: 1px solid var(--ordercake-color);
  width: 80%;
  height: 80%;
  display: grid;
  text-align: center;
  place-items: center;
  font-family: cursive;
}
.our-work__item:hover .name-ourwork-item {
  display: flex;
}
.our-work__item:hover img {
  animation: zoomIn_out 1s linear;
}
.ordercake__product .our-work .our-work__item img {
  border-radius: 6px;
  border: 1px solid #e5a74c30;
}
.ordercake__product h3 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}
