@media only screen and (max-width: 767px) {
  .order-form-optioncake {
    grid-template-areas:
      "A B"
      "C D"
      "E F"
      "H H";
  }
}
@media only screen and (max-width: 600px) {
  .order-form-info-person {
    grid-template-columns: 1fr;
  }
  .header__img-content {
    top: 65%;
  }
  .gallery__image-store img,
  .header-gallery__img,
  .gallery__img-item {
    height: 75vh;
  }
  .ordercake-home__heading {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .order-form-optioncake {
    grid-template-areas:
      "A"
      "B"
      "C"
      "D"
      "E"
      "F"
      "H";
  }
}
