/* header img */
.top-image {
  position: relative;
  margin-bottom: 3rem;
}
.headimg {
  height: 95vh;
}
.fa-word {
  position: absolute;
  text-align: right;
  min-width: 100%;
  right: 5%;
  bottom: 33%;
}
.fa-word p {
  padding: 1rem;
}
.word1 {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  background-color: var(--third-color);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 4rem;
  letter-spacing: 4px;
}
.word1:hover {
  background-color: #e49826;
}
.word2 {
  color: white;
  padding: 1rem;
  font-size: 6rem;
  letter-spacing: 6px;
}

/* main blog */
.main-blog {
  border-top: 1px solid rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
}
.top-blog {
  border-bottom: 1px solid rgb(228, 228, 228);
  padding: 1rem ;
}
.heading-blog {
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 3.5rem;
}
.heading-blog:hover {
  color:  var(--third-color);
}
.heading-icon-blog {
  margin: 0 auto;
  width: 10%;
}
.nav-blog {
  display: flex;
  padding: 2rem 1rem;
}

/* left blog */
.left-blog {
  width: 35%;
  padding-right: 1.5rem;
  border-right: 1px solid #f1f1f1;
}
.search-blog,
.about-blog,
.list-time,
.list-writer {
  box-sizing: border-box;
  box-shadow: 6px 6px 2px 2px rgb(220 220 220);
  margin-bottom: 2.5rem;
}

/* search blog */
.search-blog input {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 14px;
}

/* about blog */
.logo-blog {
  float: right;
  border: 3px solid var(--third-color);
  text-align: center;
  color: white;
  width: 13rem;
  height: 13rem;
  border-radius: 6.5rem;
  margin-left: 1rem;
}
.word-logo {
  background-color: var(--third-color);
  border: 3px solid white;
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}
.word-logo-blog1{
  font-size: 2rem;
  margin-top: 20%;
}
.word-logo-blog2 {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.word-about-blog {
  padding-bottom: 1rem;
}

/* list blog */
.heading-time,
.heading-writer {
  font-size: 2.2rem;
  font-weight: bold;
}
.list-blog li{
  margin: 1rem 0;
  padding: 0.5rem 2rem 0;
  border-top: 1px solid rgb(228, 228, 228);
}
.list-blog li:hover {
  cursor: pointer;
  color: rgb(143, 142, 142);
}

/* our cake blog */
.our-cake-blog {
  padding-bottom: 1rem;
}
.heading-our-cake-blog {
  text-align: center;
  font-size: 2.2rem;
}
.list-our-cake-blog {
  position: relative;
  padding: 0.5rem 0;
}
.image-our-cake-blog {
  height: 200px;
}
.word-our-cake-blog {
  position: absolute;
  top: 1rem;
}
.word-our-cake-blog p {
  background-color: black;
  color: white;
  padding: 1rem;
}
.word-our-cake-blog p:hover {
  color: red;
}

/* share blog */
.share-icon {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.menu-icon {
  display: flex;
  padding: 0 2rem;
}
.menu-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid #5f5f5f;
  border-radius: 25px;
  width: 3rem;
  height: 3rem;
  line-height: 1.5rem;
  font-size: 1.6rem;
  margin: 0 1rem;
}
.backface a:hover {
  background-color: var(--bg-facebook);
}
.backtwitter a:hover {
  background-color: var(--bg-twitter);
}
.backgoogle a:hover {
  background-color: var(--bg-google);
}
.backin a:hover {
  background-color: var(--bg-rss);
}
.menu-icon a:hover {
  color: white;
}

/* right blog */
.right-blog {
  width: 65%;
  padding-left: 1.5rem;
}
.item-right,
.item-right-not {
  display: flex;
  background-color: rgb(238, 238, 238);
  padding: 2rem 0;
}
.item-right {
  margin-bottom: 2rem;
}
.image-blog {
  width: 30%;
  padding: 0 1rem;
}
.image-right {
  height: 200px;
}
.content-blog {
  width: 70%;
  padding: 0 1rem;
}
.heading-right {
  color: black;
  font-size: 1.8rem;
  padding-bottom: 0.6rem;
}
.heading-right:hover {
  cursor: pointer;
  color: rgb(143, 142, 142);
}
.dateby-right {
  text-align: right;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.content-right {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* footer */
.footer-top__list {
  padding-top: 2rem;
}