@media only screen and (max-width: 992px) {
  /* header img */
  .fa-word {
    bottom: 30%;
  }
  .fa-word p {
    padding: 0.5rem;
  }
  .word1 {
    font-size: 3.5rem;
  }
  .word2 {
    font-size: 5rem;
  }

  /* main blog */
  .nav-blog {
    flex-wrap: wrap;
  }
  .heading-blog {
    letter-spacing: 4px;
  }
  .heading-icon-blog {
    width: 15%;
  }

  /* left blog */
  .left-blog {
    width: 100%;
    padding-right: 0rem;
    border-right: none;
    border-bottom: 1px solid #f1f1f1 ;
  }

  /* search blog */
  .search-blog {
    display: none;
  }
  /* about blog */
  .about-blog {
    overflow: hidden;
  }
  .word-about-blog {
    padding-left:  4rem;
  }

  /* list blog */
  .list-blog {
    display: flex;
  }
  .list-time,
  .list-writer {
    width: 50%;
    margin: 0 2rem;
  }

  /* our cake blog */
  .our-cake-blog {
    padding: 2rem 0;
  }
  .menu-our-cake-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
  }

  /* share blog */
  .share-icon {
    font-size: 1.5rem;
  }
  .menu-icon {
    padding: 0 1rem;
  }
  .menu-icon a {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1.2rem;
    font-size: 1.2rem;
  }

  /* right blog */
  .right-blog {
    width: 100%;
    padding-top: 3rem;
    padding-left: 0rem;
  }
  .heading-right {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 767px) {
  /* header img */
  .fa-word {
    bottom: 27%;
  }

  /* main blog */
  .heading-blog {
    letter-spacing: 3px;
    font-size: 3rem;
  }
   /* about blog */
   .word-about-blog {
    padding-left:  2rem;
  }
  /* right blog */
  .heading-right {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  /* main blog */
  .heading-icon-blog {
    width: 25%;
  }
  .word-about-blog {
    padding-left:  1rem;
  }

  /* list blog */
  .list-time,
  .list-writer {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 420px) {
  /* main blog */
  .heading-icon-blog {
    display: none;
  }
  .word-about-blog {
    padding-left:  0rem;
  }

  /* list blog */
  .list-blog {
    flex-wrap: wrap;
  }
  .list-time,
  .list-writer {
    width: 100%;
    margin: 0; 
    margin-bottom: 2.5rem;
  }

  /* right blog*/
  .image-blog {
    display: none;
  }
  .content-blog {
    width: 100%;
  }
}

@media only screen and (max-width: 270px) {
  .share-icon {
    display: none;
  }
}