/* header img */
.top-image {
  position: relative;
  margin-bottom: 3rem;
}
.top-image::after {
  background: linear-gradient(-45deg, #ffffff 7px, transparent 0),
    linear-gradient(45deg, #ffffff 7px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 18px 30px;
  content: "";
  display: block;
  height: 14px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.headimg {
  height: 95vh;
}
.fa-word {
  position: absolute;
  text-align: right;
  min-width: 100%;
  right: 5%;
  bottom: 33%;
}
.fa-word p {
  padding: 1rem;
}
.word1 {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  background-color: var(--third-color);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 4rem;
  letter-spacing: 4px;
}
.word1:hover {
  background-color: #e49826;
}
.word2 {
  color: white;
  padding: 1rem;
  font-size: 6rem;
  letter-spacing: 6px;
}

/* main blog */
.top-blog {
  padding: 0 1.5rem;
  margin: 6rem 0;
}
.heading-blog {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 3.5rem;
}
.heading-blog:hover {
  color: var(--third-color);
}
.heading-icon-blog {
  margin: 0 auto;
  width: 10%;
}
.nav-blog {
  display: flex;
  padding: 2rem 1rem;
}

/* left blog */
.left-blog {
  width: 35%;
  padding-right: 1.5rem;
  border-right: 1px solid #f1f1f1;
}
.search-blog,
.about-blog,
.list-time,
.list-writer {
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px rgb(220 220 220);
  margin-bottom: 2.5rem;
}

/* search blog */
.search-blog input {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 14px;
}

/* about blog */
.logo-blog {
  float: right;
  text-align: center;
  color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.word-logo {
  background-color: var(--third-color);
  border: 3px solid white;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}
.word-logo p span {
  display: block;
}
.word-logo_big {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.word-logo p {
  line-height: 1.4;
}
.word-about-blog {
  padding: 1.5rem;
}

/* list blog */
.heading-time,
.heading-writer {
  padding-left: 1rem;
  font-size: 2.2rem;
  font-weight: 500;
}
.list-blog li {
  padding: 0.8rem 2rem;
  border-top: 1px solid rgb(228, 228, 228);
}
.list-blog li:hover {
  cursor: pointer;
  color: rgb(143, 142, 142);
}

/* our cake blog */
.our-cake-blog {
  padding-bottom: 1rem;
}
.heading-our-cake-blog {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin: 1rem 0;
}
.list-our-cake-blog {
  position: relative;
  padding: 0.5rem 0;
}
.image-our-cake-blog {
  height: 200px;
}
.word-our-cake-blog {
  position: absolute;
  top: 0.5rem;
}
.word-our-cake-blog p {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem;
}
.word-our-cake-blog p:hover {
  color: rgb(237, 86, 59);
}

/* share blog */
.share-icon {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.menu-icon {
  display: flex;
  padding: 0 2rem;
}
.menu-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid #5f5f5f;
  border-radius: 25px;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  margin: 0 1rem;
}
.menu-icon a:hover {
  border-color: transparent;
}
.backface a:hover {
  background-color: var(--bg-facebook);
}
.backtwitter a:hover {
  background-color: var(--bg-twitter);
}
.backgoogle a:hover {
  background-color: var(--bg-google);
}
.backin a:hover {
  background-color: var(--bg-rss);
}
.menu-icon a:hover {
  color: white;
}

/* right blog */
.right-blog {
  width: 65%;
  padding-left: 1.5rem;
}
.item-right {
  display: flex;
  background-color: rgb(238, 238, 238);
  padding: 2rem 0;
}
.item-right {
  margin-bottom: 2rem;
}
.image-blog {
  width: 30%;
  padding: 0 1rem;
}
.image-right {
  height: 200px;
}
.content-blog {
  width: 70%;
  padding: 0 1rem;
}
.heading-right {
  color: black;
  font-size: 1.8rem;
  padding-bottom: 0.6rem;
}
.heading-right h3 {
  font-weight: 500;
}
.heading-right:hover {
  cursor: pointer;
  color: #9f2b00;
}
.dateby-right {
  text-align: right;
  font-size: 1.3rem;
  padding: 1rem 0;
}
.content-right {
  overflow: hidden;
  color: #353535;
  font-size: 1.5rem;
  line-height: 1.6;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* pagination */
.pagination {
  text-align: center;
  margin: 3rem auto 0;
}
.pagination__link {
  color: black;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  min-width: 4rem;
  border-radius: 2px;
  border: 1px solid rgb(202, 202, 202);
}
.pagination__link--active,
.pagination__link:hover {
  background-color: rgb(202, 202, 202);
}
.pagination__link i {
  font-size: 1.2rem;
}