/* Color */
:root {
--primary-color: #ed563b;
--second-color: #fcaf28;
--text-color: #232d39;
--bg-facebook: #4867aa;
--bg-twitter: #3cf;
--bg-google: #db4437;
--bg-rss: #e78733;
--bg-linked: #0177b5;
--footer-text: rgb(173, 173, 173);
/*  */
}
/* Default setting */
/* 
10px = 1rem
*/
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
.row-index {
max-width: 1200px;
margin: 0 auto;
}

html {
font-size: 62.5%;
}

body {
font-family: "Poppins", sans-serif;
font-size: 16px;
}

a {
text-decoration: none;
}

ul,
li {
padding: 0;
margin: 0;
list-style: none;
}

img {
width: 100%;
display: block;
object-fit: cover;
}

/* animate */
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
